<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <link rel="stylesheet" href="../static/Home.css">
</head>
<body>
<h1>Seven Cures For a Lean Purse</h1>
<p>
<h3>The First Cure: Start thy purse to fattening.</h3>
Arkad advises on saving 10% of your annual income to start building up your wealth (or purse): "For every ten coins thou placest within thy purse take out for use but nine. Thy purse will start to fatten at once and its increasing weight will feel good in thy hand and bring satisfaction to thy soul".
<h3>The Second Cure: Control thy expenditures.</h3>
Arkad advises against luxury expenditures that ultimately become confused as necessities: "The gold we may retain from our earnings is but the start", and, "What each of us calls our 'necessary expenses' will always grow to equal our incomes unless we protest to the contrary", and, "Confuse not the necessary expenses with thy desires".
    <h3>The Third Cure: Make thy gold multiply.</h3>
Arkad advises to invest and to compound the investment return from these savings: "The earnings it will make shall build our fortunes ... Learn to make your treasure work for you. Make it your slave. Make its children and its children's children work for you".
    <h3>The Fourth Cure: Guard thy treasures from loss.</h3>
Arkad advises against taking a risk of loss and investing get-rich-quick schemes: "Is it wise to be intrigued by larger earnings when thy principal may be lost? I say not. The penalty of risk is probable loss. Study carefully, before parting with thy treasure, each assurance that it may be safely reclaimed. Be not misled by thine own romantic desires to make wealth rapidly".
    <h3>The Fifth Cure: Make of thy dwelling a profitable investment.</h3>
Arkad advises buying versus renting your principal residence, and to use your residence to establish a business: "I recommend that every man own the roof that sheltereth him and his", and, "Nor is it beyond the ability of any well-intentioned man to own his home".
    <h3>The Sixth Cure: Ensure a future income.</h3>
Arkad advises on having a pension and future retirement income: "Therefore do I say that it behooves a man to make preparations for a suitable income in the days to come, when he is no longer young, and to make preparations for his family should he be no longer with them to comfort and support them".
    <h3>The Seventh Cure: Increase thy ability to earn.</h3>
Arkad advises to keep developing your own skills to increase your investing wisdom and also to increase your earnings power: "The more of wisdom we know, the more we may earn", and, "That man who seeks to learn more of his craft shall be richly rewarded".</p>

<br><br>
<Center>
	<h2><button type="button"><a href="http://127.0.0.1:5000/">Home-Page</a></button></h2>
</Center>

</body>
</html>