<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Ikigai </title>
	<link rel="stylesheet" href="../static/Ikigai.css">
</head>
<body>
<p><i><b>Ikigai can describe having a sense of purpose in life,</b></i> as well as being motivated.[5] According to a study,[vague] feeling ikigai as described in Japanese usually means the feeling of accomplishment and fulfillment that follows when people pursue their passions.[6] Activities that allow one to feel ikigai are not forced on an individual; they are perceived as being spontaneous and undertaken willingly, therefore they are personal and depend on a person's inner self.[7]

According to psychologist Katsuya Inoue, ikigai is a concept consisting of two aspects: "sources or objects that bring value or meaning to life" and "a feeling that one's life has value or meaning because of the existence of its source or object". Inoue classifies ikigai into three directions - social ikigai, non-social ikigai, and anti-social ikigai - from a social perspective. Social ikigai refers to ikigai that are accepted by society through volunteer activities and circle activities. An asocial ikigai is an ikigai that is not directly related to society, such as faith or self-discipline. Anti-social ikigai refers to ikigai, which is the basic motivation for living through dark emotions, such as the desire to hate someone or something or to continue having a desire to revenge.[8]

National Geographic reporter Dan Buettner suggested ikigai may be one of the reasons for the longevity of the people of Okinawa.[9] According to Buettner, Okinawans have less desire to retire, as people continue to do their favourite job as long as they remain healthy. "Moai", the close-knit friend group, is considered an important reason for the people of Okinawa to live long. In 2016, a book based on the concept, entitled <b>'Ikigai:</b> <br>The Japanese Secret to a Long and Happy Life', was published by Penguin Books, written by Héctor García and Francesc Miralles.</p>
<Center>
	<h2><button type="button"><a href="http://127.0.0.1:5000/">Home-Page</a></button></h2>
</Center>

</body>
</html>