<html>  
<head>  
    <title>login</title>  <link rel="stylesheet" type="text/css" href="../static/home.css">
</head>  
<body>  
    <center><h1>Password is worng . Please Try Again.<form method = "post" action = "http://localhost:5000/validate">  
        <table>  
            <tr><td>Email</td><td><input type = 'email' name = 'email'></td></tr>  
            <tr><td>Password</td><td><input type = 'password' name = 'pass' placeholder="Type password"></td></tr>  
            <tr><td><input type = "submit" value = "Submit"></td></tr>  
        </table>  
    </form>  </h1></center>
</body>  
</html>